@{
    ViewBag.Title = "About";
}

<h3>À propos de Post-it</h3>
<hr />
<div style="background:url(@Url.Content("~/Content/AboutPict.png")) no-repeat top; background-size: contain; margin:auto; width:460px; height:500px; padding:60px;margin:auto;">
   
</div>

