@{
    ViewBag.Title = "Index";
}
<br />
<h2>@Helper.GlyphiconAction("Index", "glyphicon-arrow-left", "Retour ")Journal de connexions @Helper.GlyphiconAction("ClearAllLogs", "glyphicon-remove-circle", "Effacer le journal ")</h2>
<hr />

<div id="logsListContainer">
    @{ Html.RenderAction("UsersLogs");}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/partialRefresh")

    <script>
        $(() => { PartialRefresh("@Url.Action("UsersLogs")", "logsListContainer", 1); });
    </script>
}

