@model IEnumerable<EFA_DEMO.Models.Log>
<h2>Journal de connexions</h2>
<hr />
<table style="color:white">
    @{ DateTime currentDate = new DateTime(0);
        foreach (var item in Model)
        {
            if (currentDate != item.LoginDate.Date)
            {
                currentDate = item.LoginDate.Date;
                <tr>
                    <td style="font-weight:bold">@item.LoginDate.ToShortDateString()</td>
                    <td></td>
                </tr>
            }
            <tr>
                <td></td>
                <td>
                    @item.LoginDate.ToShortTimeString()
                </td>
            </tr>
        }
    }
</table>


